In [11]:
import pandas as pd

In [12]:
data = {
    "Name" : ["Rommel", "Luis", "Alberto", "Eduardo", "Mauricio","Rommel"],
    "Lastname" : ["Garcia", "Andrade", "Bolivar","Paez", "Banderas","Ibrahimovic"],
    "Age" : [20,19,40,45,60,23],
    "Address" : ["Michigan","Venezuela", "Krenlim","Afganistan","Palestina","Israel"],
}
df = pd.DataFrame(data)

In [13]:
df

       Name     Lastname  Age     Address
0    Rommel       Garcia   20    Michigan
1      Luis      Andrade   19   Venezuela
2   Alberto      Bolivar   40     Krenlim
3   Eduardo         Paez   45  Afganistan
4  Mauricio     Banderas   60   Palestina
5    Rommel  Ibrahimovic   23      Israel

In [ ]:
df[df['Name'].notna()]

In [15]:
df.drop(columns= ["Age","Address"])

       Name     Lastname
0    Rommel       Garcia
1      Luis      Andrade
2   Alberto      Bolivar
3   Eduardo         Paez
4  Mauricio     Banderas
5    Rommel  Ibrahimovic